# Venture Funding with Deep Learning

You work as a risk management associate at Alphabet Soup, a venture capital firm. Alphabet Soup’s business team receives many funding applications from startups every day. This team has asked you to help them create a model that predicts whether applicants will be successful if funded by Alphabet Soup.

The business team has given you a CSV containing more than 34,000 organizations that have received funding from Alphabet Soup over the years. With your knowledge of machine learning and neural networks, you decide to use the features in the provided dataset to create a binary classifier model that will predict whether an applicant will become a successful business. The CSV file contains a variety of information about these businesses, including whether or not they ultimately became successful.

## Instructions:

The steps for this challenge are broken out into the following sections:

* Prepare the data for use on a neural network model.

* Compile and evaluate a binary classification model using a neural network.

* Optimize the neural network model.

### Prepare the Data for Use on a Neural Network Model

Using your knowledge of Pandas and scikit-learn’s `StandardScaler()`, preprocess the dataset so that you can use it to compile and evaluate the neural network model later.

Open the starter code file, and complete the following data preparation steps:

1. Read the `applicants_data.csv` file into a Pandas DataFrame. Review the DataFrame, looking for categorical variables that will need to be encoded, as well as columns that could eventually define your features and target variables.   

2. Drop the “EIN” (Employer Identification Number) and “NAME” columns from the DataFrame, because they are not relevant to the binary classification model.

3. Encode the dataset’s categorical variables using `OneHotEncoder`, and then place the encoded variables into a new DataFrame.

4. Add the original DataFrame’s numerical variables to the DataFrame containing the encoded variables.

> **Note** To complete this step, you will employ the Pandas `concat()` function that was introduced earlier in this course.

5. Using the preprocessed data, create the features (`X`) and target (`y`) datasets. The target dataset should be defined by the preprocessed DataFrame column “IS_SUCCESSFUL”. The remaining columns should define the features dataset.

6. Split the features and target sets into training and testing datasets.

7. Use scikit-learn's `StandardScaler` to scale the features data.

### Compile and Evaluate a Binary Classification Model Using a Neural Network

Use your knowledge of TensorFlow to design a binary classification deep neural network model. This model should use the dataset’s features to predict whether an Alphabet Soup&ndash;funded startup will be successful based on the features in the dataset. Consider the number of inputs before determining the number of layers that your model will contain or the number of neurons on each layer. Then, compile and fit your model. Finally, evaluate your binary classification model to calculate the model’s loss and accuracy.

To do so, complete the following steps:

1. Create a deep neural network by assigning the number of input features, the number of layers, and the number of neurons on each layer using Tensorflow’s Keras.

> **Hint** You can start with a two-layer deep neural network model that uses the `relu` activation function for both layers.

2. Compile and fit the model using the `binary_crossentropy` loss function, the `adam` optimizer, and the `accuracy` evaluation metric.

> **Hint** When fitting the model, start with a small number of epochs, such as 20, 50, or 100.

3. Evaluate the model using the test data to determine the model’s loss and accuracy.

4. Save and export your model to an HDF5 file, and name the file `AlphabetSoup.h5`.

### Optimize the Neural Network Model

Using your knowledge of TensorFlow and Keras, optimize your model to improve the model's accuracy. Even if you do not successfully achieve a better accuracy, you'll need to demonstrate at least two attempts to optimize the model. You can include these attempts in your existing notebook. Or, you can make copies of the starter notebook in the same folder, rename them, and code each model optimization in a new notebook.

> **Note** You will not lose points if your model does not achieve a high accuracy, as long as you make at least two attempts to optimize the model.

To do so, complete the following steps:

1. Define at least three new deep neural network models (the original plus 2 optimization attempts). With each, try to improve on your first model’s predictive accuracy.

> **Rewind** Recall that perfect accuracy has a value of 1, so accuracy improves as its value moves closer to 1. To optimize your model for a predictive accuracy as close to 1 as possible, you can use any or all of the following techniques:
>
> * Adjust the input data by dropping different features columns to ensure that no variables or outliers confuse the model.
>
> * Add more neurons (nodes) to a hidden layer.
>
> * Add more hidden layers.
>
> * Use different activation functions for the hidden layers.
>
> * Add to or reduce the number of epochs in the training regimen.

2. After finishing your models, display the accuracy scores achieved by each model, and compare the results.

3. Save each of your models as an HDF5 file.

In [2]:
pip install tensorflow

Requirement already satisfied: tensorflow in /usr/local/lib/python3.10/dist-packages (2.12.0)
Requirement already satisfied: absl-py>=1.0.0 in /usr/local/lib/python3.10/dist-packages (from tensorflow) (1.4.0)
Requirement already satisfied: astunparse>=1.6.0 in /usr/local/lib/python3.10/dist-packages (from tensorflow) (1.6.3)
Requirement already satisfied: flatbuffers>=2.0 in /usr/local/lib/python3.10/dist-packages (from tensorflow) (23.5.26)
Requirement already satisfied: gast<=0.4.0,>=0.2.1 in /usr/local/lib/python3.10/dist-packages (from tensorflow) (0.4.0)
Requirement already satisfied: google-pasta>=0.1.1 in /usr/local/lib/python3.10/dist-packages (from tensorflow) (0.2.0)
Requirement already satisfied: grpcio<2.0,>=1.24.3 in /usr/local/lib/python3.10/dist-packages (from tensorflow) (1.56.0)
Requirement already satisfied: h5py>=2.9.0 in /usr/local/lib/python3.10/dist-packages (from tensorflow) (3.8.0)
Requirement already satisfied: jax>=0.3.15 in /usr/local/lib/python3.10/dist-packages (from tensorflow) (0.4.10)
Requirement already satisfied: keras<2.13,>=2.12.0 in /usr/local/lib/python3.10/dist-packages (from tensorflow) (2.12.0)
Requirement already satisfied: libclang>=13.0.0 in /usr/local/lib/python3.10/dist-packages (from tensorflow) (16.0.0)
Requirement already satisfied: numpy<1.24,>=1.22 in /usr/local/lib/python3.10/dist-packages (from tensorflow) (1.22.4)
Requirement already satisfied: opt-einsum>=2.3.2 in /usr/local/lib/python3.10/dist-packages (from tensorflow) (3.3.0)
Requirement already satisfied: packaging in /usr/local/lib/python3.10/dist-packages (from tensorflow) (23.1)
Requirement already satisfied: protobuf!=4.21.0,!=4.21.1,!=4.21.2,!=4.21.3,!=4.21.4,!=4.21.5,<5.0.0dev,>=3.20.3 in /usr/local/lib/python3.10/dist-packages (from tensorflow) (3.20.3)
Requirement already satisfied: setuptools in /usr/local/lib/python3.10/dist-packages (from tensorflow) (67.7.2)
Requirement already satisfied: six>=1.12.0 in /usr/local/lib/python3.10/dist-packages (from tensorflow) (1.16.0)
Requirement already satisfied: tensorboard<2.13,>=2.12 in /usr/local/lib/python3.10/dist-packages (from tensorflow) (2.12.3)
Requirement already satisfied: tensorflow-estimator<2.13,>=2.12.0 in /usr/local/lib/python3.10/dist-packages (from tensorflow) (2.12.0)
Requirement already satisfied: termcolor>=1.1.0 in /usr/local/lib/python3.10/dist-packages (from tensorflow) (2.3.0)
Requirement already satisfied: typing-extensions>=3.6.6 in /usr/local/lib/python3.10/dist-packages (from tensorflow) (4.6.3)
Requirement already satisfied: wrapt<1.15,>=1.11.0 in /usr/local/lib/python3.10/dist-packages (from tensorflow) (1.14.1)
Requirement already satisfied: tensorflow-io-gcs-filesystem>=0.23.1 in /usr/local/lib/python3.10/dist-packages (from tensorflow) (0.32.0)
Requirement already satisfied: wheel<1.0,>=0.23.0 in /usr/local/lib/python3.10/dist-packages (from astunparse>=1.6.0->tensorflow) (0.40.0)
Requirement already satisfied: ml-dtypes>=0.1.0 in /usr/local/lib/python3.10/dist-packages (from jax>=0.3.15->tensorflow) (0.2.0)
Requirement already satisfied: scipy>=1.7 in /usr/local/lib/python3.10/dist-packages (from jax>=0.3.15->tensorflow) (1.10.1)
Requirement already satisfied: google-auth<3,>=1.6.3 in /usr/local/lib/python3.10/dist-packages (from tensorboard<2.13,>=2.12->tensorflow) (2.17.3)
Requirement already satisfied: google-auth-oauthlib<1.1,>=0.5 in /usr/local/lib/python3.10/dist-packages (from tensorboard<2.13,>=2.12->tensorflow) (1.0.0)
Requirement already satisfied: markdown>=2.6.8 in /usr/local/lib/python3.10/dist-packages (from tensorboard<2.13,>=2.12->tensorflow) (3.4.3)
Requirement already satisfied: requests<3,>=2.21.0 in /usr/local/lib/python3.10/dist-packages (from tensorboard<2.13,>=2.12->tensorflow) (2.27.1)
Requirement already satisfied: tensorboard-data-server<0.8.0,>=0.7.0 in /usr/local/lib/python3.10/dist-packages (from tensorboard<2.13,>=2.12->tensorflow) (0.7.1)
Requirement already satisfied: werkzeug>=1.0.1 in /usr/local/lib/python3.10/dist-packages (from tensorboard<2.13,>=2.12->tensorflow) (2.3.6)
Requirement already satisfied: cachetools<6.0,>=2.0.0 in /usr/local/lib/python3.10/dist-packages (from google-auth<3,>=1.6.3->tensorboard<2.13,>=2.12->tensorflow) (5.3.1)
Requirement already satisfied: pyasn1-modules>=0.2.1 in /usr/local/lib/python3.10/dist-packages (from google-auth<3,>=1.6.3->tensorboard<2.13,>=2.12->tensorflow) (0.3.0)
Requirement already satisfied: rsa<5,>=3.1.4 in /usr/local/lib/python3.10/dist-packages (from google-auth<3,>=1.6.3->tensorboard<2.13,>=2.12->tensorflow) (4.9)
Requirement already satisfied: requests-oauthlib>=0.7.0 in /usr/local/lib/python3.10/dist-packages (from google-auth-oauthlib<1.1,>=0.5->tensorboard<2.13,>=2.12->tensorflow) (1.3.1)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.10/dist-packages (from requests<3,>=2.21.0->tensorboard<2.13,>=2.12->tensorflow) (1.26.16)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.10/dist-packages (from requests<3,>=2.21.0->tensorboard<2.13,>=2.12->tensorflow) (2023.5.7)
Requirement already satisfied: charset-normalizer~=2.0.0 in /usr/local/lib/python3.10/dist-packages (from requests<3,>=2.21.0->tensorboard<2.13,>=2.12->tensorflow) (2.0.12)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.10/dist-packages (from requests<3,>=2.21.0->tensorboard<2.13,>=2.12->tensorflow) (3.4)
Requirement already satisfied: MarkupSafe>=2.1.1 in /usr/local/lib/python3.10/dist-packages (from werkzeug>=1.0.1->tensorboard<2.13,>=2.12->tensorflow) (2.1.3)
Requirement already satisfied: pyasn1<0.6.0,>=0.4.6 in /usr/local/lib/python3.10/dist-packages (from pyasn1-modules>=0.2.1->google-auth<3,>=1.6.3->tensorboard<2.13,>=2.12->tensorflow) (0.5.0)
Requirement already satisfied: oauthlib>=3.0.0 in /usr/local/lib/python3.10/dist-packages (from requests-oauthlib>=0.7.0->google-auth-oauthlib<1.1,>=0.5->tensorboard<2.13,>=2.12->tensorflow) (3.2.2)

In [3]:
!pip install pandas

Requirement already satisfied: pandas in /usr/local/lib/python3.10/dist-packages (1.5.3)
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2022.7.1)
Requirement already satisfied: numpy>=1.21.0 in /usr/local/lib/python3.10/dist-packages (from pandas) (1.22.4)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)

In [4]:
# Imports
import pandas as pd
import tensorflow as tf
from tensorflow.keras.layers import Dense
from tensorflow.keras.models import Sequential
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder
from pathlib import Path

---

## Prepare the data to be used on a neural network model

### Step 1: Read the `applicants_data.csv` file into a Pandas DataFrame. Review the DataFrame, looking for categorical variables that will need to be encoded, as well as columns that could eventually define your features and target variables.

In [5]:
# Upload credit_card_transactions.csv to Colab
from google.colab import files

csv_file = files.upload()

Saving applicants_data.csv to applicants_data.csv

In [6]:
# Read the applicants_data.csv file from the Resources folder into a Pandas DataFrame
file_path = '/content/applicants_data.csv'
applicant_data_df = pd.read_csv(file_path)

# Review the DataFrame
applicant_data_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [7]:
# Review the data types associated with the columns
column_data_types = applicant_data_df.dtypes

column_data_types

EIN                        int64
NAME                      object
APPLICATION_TYPE          object
AFFILIATION               object
CLASSIFICATION            object
USE_CASE                  object
ORGANIZATION              object
STATUS                     int64
INCOME_AMT                object
SPECIAL_CONSIDERATIONS    object
ASK_AMT                    int64
IS_SUCCESSFUL              int64
dtype: object

### Step 2: Drop the “EIN” (Employer Identification Number) and “NAME” columns from the DataFrame, because they are not relevant to the binary classification model.

In [8]:
# Drop the 'EIN' and 'NAME' columns from the DataFrame
applicant_data_df = applicant_data_df.drop(columns=['EIN', 'NAME'])

# Review the DataFrame
applicant_data_df

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1
...,...,...,...,...,...,...,...,...,...,...
34294,T4,Independent,C1000,ProductDev,Association,1,0,N,5000,0
34295,T4,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
34296,T3,CompanySponsored,C2000,Preservation,Association,1,0,N,5000,0
34297,T5,Independent,C3000,ProductDev,Association,1,0,N,5000,1
34298,T3,Independent,C1000,Preservation,Co-operative,1,1M-5M,N,36500179,0

### Step 3: Encode the dataset’s categorical variables using `OneHotEncoder`, and then place the encoded variables into a new DataFrame.

In [9]:
# Create a list of categorical variables
categorical_variables = list(applicant_data_df.select_dtypes(include=['object']).columns)

# Display the categorical variables list
categorical_variables

['APPLICATION_TYPE',
 'AFFILIATION',
 'CLASSIFICATION',
 'USE_CASE',
 'ORGANIZATION',
 'INCOME_AMT',
 'SPECIAL_CONSIDERATIONS']

In [10]:
# Create a OneHotEncoder instance
encoder = OneHotEncoder()

In [11]:
# Encode the categorcal variables using OneHotEncoder
encoded_data = encoder.fit_transform(applicant_data_df[categorical_variables])

In [12]:
# Create a DataFrame with the encoded variables
encoded_df = pd.DataFrame(encoded_data.toarray(), columns=encoder.get_feature_names_out(categorical_variables))

# Review the DataFrame
encoded_df

,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,APPLICATION_TYPE_T2,APPLICATION_TYPE_T25,APPLICATION_TYPE_T29,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34294,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34295,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34296,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34297,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34298,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0

### Step 4: Add the original DataFrame’s numerical variables to the DataFrame containing the encoded variables.

> **Note** To complete this step, you will employ the Pandas `concat()` function that was introduced earlier in this course.

In [13]:
# Add the numerical variables from the original DataFrame to the one-hot encoding DataFrame
encoded_df = pd.concat([applicant_data_df[["STATUS", "ASK_AMT", "IS_SUCCESSFUL"]],encoded_df],axis=1)

# Review the Dataframe
encoded_df

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,1,108590,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,1,5000,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,1,6692,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,1,142590,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34294,1,5000,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34295,1,5000,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34296,1,5000,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34297,1,5000,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34298,1,36500179,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0

### Step 5: Using the preprocessed data, create the features (`X`) and target (`y`) datasets. The target dataset should be defined by the preprocessed DataFrame column “IS_SUCCESSFUL”. The remaining columns should define the features dataset.

In [14]:
# Define the target set y using the IS_SUCCESSFUL column
y = encoded_df['IS_SUCCESSFUL']

# Display a sample of y
y

0        1
1        1
2        0
3        1
4        1
        ..
34294    0
34295    0
34296    0
34297    1
34298    0
Name: IS_SUCCESSFUL, Length: 34299, dtype: int64

In [15]:
# Define features set X by selecting all columns but IS_SUCCESSFUL
X = encoded_df.drop('IS_SUCCESSFUL', axis=1)

# Review the features DataFrame
X

,STATUS,ASK_AMT,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,APPLICATION_TYPE_T2,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,1,108590,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,1,5000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,1,6692,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,1,142590,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34294,1,5000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34295,1,5000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34296,1,5000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34297,1,5000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34298,1,36500179,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0

### Step 6: Split the features and target sets into training and testing datasets.

In [16]:
# Split the preprocessed data into a training and testing dataset
# Assign the function a random_state equal to 1
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=1)

### Step 7: Use scikit-learn's `StandardScaler` to scale the features data.

In [17]:
# Create a StandardScaler instance
scaler = StandardScaler()

# Fit the scaler to the features training dataset
X_scaler = scaler.fit(X_train)

# Fit the scaler to the features training dataset
X_train_scaled = scaler.transform(X_train)
X_test_scaled = scaler.transform(X_test)

---

## Compile and Evaluate a Binary Classification Model Using a Neural Network

### Step 1: Create a deep neural network by assigning the number of input features, the number of layers, and the number of neurons on each layer using Tensorflow’s Keras.

> **Hint** You can start with a two-layer deep neural network model that uses the `relu` activation function for both layers.

In [18]:
# Define the the number of inputs (features) to the model
number_input_features = X.shape[1]

# Review the number of features
number_input_features

116

In [19]:
# Define the number of neurons in the output layer
number_output_neurons = 1

In [20]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer1 =  8

# Review the number hidden nodes in the first layer
hidden_nodes_layer1

8

In [21]:
# Define the number of hidden nodes for the second hidden layer
hidden_nodes_layer2 =  4

# Review the number hidden nodes in the second layer
hidden_nodes_layer2

4

In [22]:
# Create the Sequential model instance
nn = Sequential()

In [23]:
# Add the first hidden layer
first_hidden_layer = 8

nn.add(Dense(units=first_hidden_layer,input_dim=number_input_features, activation="relu"))

In [24]:
# Add the second hidden layer
second_hidden_layer = 4

nn.add(Dense(units=second_hidden_layer, activation="relu"))

In [25]:
# Add the output layer to the model specifying the number of output neurons and activation function
number_classes = 1

nn.add(Dense(units=number_classes, activation="sigmoid"))

In [26]:
# Display the Sequential model summary
nn.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 8)                 936

 dense_1 (Dense)             (None, 4)                 36

 dense_2 (Dense)             (None, 1)                 5

=================================================================
Total params: 977
Trainable params: 977
Non-trainable params: 0
_________________________________________________________________

### Step 2: Compile and fit the model using the `binary_crossentropy` loss function, the `adam` optimizer, and the `accuracy` evaluation metric.

In [27]:
# Compile the Sequential model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [28]:
# Fit the model using 50 epochs and the training data
model_moon = nn.fit(X_train_scaled, y_train, epochs=50)

Epoch 1/50
858/858 [==============================] - 3s 2ms/step - loss: 0.5963 - accuracy: 0.6961
Epoch 2/50
858/858 [==============================] - 2s 2ms/step - loss: 0.5655 - accuracy: 0.7228
Epoch 3/50
858/858 [==============================] - 2s 3ms/step - loss: 0.5538 - accuracy: 0.7247
Epoch 4/50
858/858 [==============================] - 2s 2ms/step - loss: 0.5509 - accuracy: 0.7258
Epoch 5/50
858/858 [==============================] - 2s 2ms/step - loss: 0.5498 - accuracy: 0.7266
Epoch 6/50
858/858 [==============================] - 2s 2ms/step - loss: 0.5492 - accuracy: 0.7262
Epoch 7/50
858/858 [==============================] - 2s 2ms/step - loss: 0.5486 - accuracy: 0.7264
Epoch 8/50
858/858 [==============================] - 2s 2ms/step - loss: 0.5479 - accuracy: 0.7278
Epoch 9/50
858/858 [==============================] - 2s 2ms/step - loss: 0.5475 - accuracy: 0.7283
Epoch 10/50
858/858 [==============================] - 2s 2ms/step - loss: 0.5471 - accuracy: 0.7291
Epoch 11/50
858/858 [==============================] - 2s 3ms/step - loss: 0.5467 - accuracy: 0.7294
Epoch 12/50
858/858 [==============================] - 2s 2ms/step - loss: 0.5464 - accuracy: 0.7318
Epoch 13/50
858/858 [==============================] - 2s 2ms/step - loss: 0.5461 - accuracy: 0.7334
Epoch 14/50
858/858 [==============================] - 2s 2ms/step - loss: 0.5458 - accuracy: 0.7320
Epoch 15/50
858/858 [==============================] - 2s 2ms/step - loss: 0.5456 - accuracy: 0.7326
Epoch 16/50
858/858 [==============================] - 2s 2ms/step - loss: 0.5450 - accuracy: 0.7336
Epoch 17/50
858/858 [==============================] - 2s 2ms/step - loss: 0.5448 - accuracy: 0.7335
Epoch 18/50
858/858 [==============================] - 2s 3ms/step - loss: 0.5445 - accuracy: 0.7334
Epoch 19/50
858/858 [==============================] - 2s 2ms/step - loss: 0.5445 - accuracy: 0.7331
Epoch 20/50
858/858 [==============================] - 2s 2ms/step - loss: 0.5443 - accuracy: 0.7331
Epoch 21/50
858/858 [==============================] - 2s 3ms/step - loss: 0.5443 - accuracy: 0.7339
Epoch 22/50
858/858 [==============================] - 2s 3ms/step - loss: 0.5439 - accuracy: 0.7343
Epoch 23/50
858/858 [==============================] - 2s 2ms/step - loss: 0.5441 - accuracy: 0.7333
Epoch 24/50
858/858 [==============================] - 2s 2ms/step - loss: 0.5438 - accuracy: 0.7334
Epoch 25/50
858/858 [==============================] - 2s 3ms/step - loss: 0.5436 - accuracy: 0.7334
Epoch 26/50
858/858 [==============================] - 2s 2ms/step - loss: 0.5437 - accuracy: 0.7341
Epoch 27/50
858/858 [==============================] - 2s 2ms/step - loss: 0.5432 - accuracy: 0.7342
Epoch 28/50
858/858 [==============================] - 2s 2ms/step - loss: 0.5434 - accuracy: 0.7334
Epoch 29/50
858/858 [==============================] - 2s 2ms/step - loss: 0.5435 - accuracy: 0.7338
Epoch 30/50
858/858 [==============================] - 2s 2ms/step - loss: 0.5433 - accuracy: 0.7344
Epoch 31/50
858/858 [==============================] - 2s 2ms/step - loss: 0.5431 - accuracy: 0.7347
Epoch 32/50
858/858 [==============================] - 2s 3ms/step - loss: 0.5427 - accuracy: 0.7337
Epoch 33/50
858/858 [==============================] - 2s 2ms/step - loss: 0.5429 - accuracy: 0.7345
Epoch 34/50
858/858 [==============================] - 2s 2ms/step - loss: 0.5428 - accuracy: 0.7346
Epoch 35/50
858/858 [==============================] - 3s 4ms/step - loss: 0.5424 - accuracy: 0.7344
Epoch 36/50
858/858 [==============================] - 4s 5ms/step - loss: 0.5428 - accuracy: 0.7352
Epoch 37/50
858/858 [==============================] - 5s 6ms/step - loss: 0.5424 - accuracy: 0.7336
Epoch 38/50
858/858 [==============================] - 3s 4ms/step - loss: 0.5424 - accuracy: 0.7339
Epoch 39/50
858/858 [==============================] - 5s 6ms/step - loss: 0.5420 - accuracy: 0.7349
Epoch 40/50
858/858 [==============================] - 7s 9ms/step - loss: 0.5418 - accuracy: 0.7353
Epoch 41/50
858/858 [==============================] - 4s 5ms/step - loss: 0.5417 - accuracy: 0.7347
Epoch 42/50
858/858 [==============================] - 2s 2ms/step - loss: 0.5421 - accuracy: 0.7345
Epoch 43/50
858/858 [==============================] - 2s 2ms/step - loss: 0.5418 - accuracy: 0.7349
Epoch 44/50
858/858 [==============================] - 2s 3ms/step - loss: 0.5416 - accuracy: 0.7349
Epoch 45/50
858/858 [==============================] - 2s 2ms/step - loss: 0.5418 - accuracy: 0.7362
Epoch 46/50
858/858 [==============================] - 2s 2ms/step - loss: 0.5418 - accuracy: 0.7345
Epoch 47/50
858/858 [==============================] - 2s 2ms/step - loss: 0.5416 - accuracy: 0.7352
Epoch 48/50
858/858 [==============================] - 2s 2ms/step - loss: 0.5415 - accuracy: 0.7350
Epoch 49/50
858/858 [==============================] - 2s 2ms/step - loss: 0.5412 - accuracy: 0.7348
Epoch 50/50
858/858 [==============================] - 2s 2ms/step - loss: 0.5413 - accuracy: 0.7356

### Step 3: Evaluate the model using the test data to determine the model’s loss and accuracy.

In [29]:
# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled, y_test, verbose=2)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

215/215 - 0s - loss: 0.5553 - accuracy: 0.7297 - 420ms/epoch - 2ms/step
Loss: 0.5552970767021179, Accuracy: 0.7297375798225403

### Step 4: Save and export your model to an HDF5 file, and name the file `AlphabetSoup.h5`.

In [30]:
# Set the model's file path
file_path = Path("content/AlphabetSoup.h5")

# Export your model to a HDF5 file
nn.save(file_path)

---

## Optimize the neural network model

### Step 1: Define at least three new deep neural network models (resulting in the original plus 3 optimization attempts). With each, try to improve on your first model’s predictive accuracy.

> **Rewind** Recall that perfect accuracy has a value of 1, so accuracy improves as its value moves closer to 1. To optimize your model for a predictive accuracy as close to 1 as possible, you can use any or all of the following techniques:
>
> * Adjust the input data by dropping different features columns to ensure that no variables or outliers confuse the model.
>
> * Add more neurons (nodes) to a hidden layer.
>
> * Add more hidden layers.
>
> * Use different activation functions for the hidden layers.
>
> * Add to or reduce the number of epochs in the training regimen.

### Alternative Model 1

In [31]:
# Define the the number of inputs (features) to the model
number_input_features = len(X_train.iloc[0])

# Review the number of features
number_input_features

116

In [32]:
# Define the number of neurons in the output layer
number_output_neurons_A1 = 1

In [33]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer1_A1 = 16

# Review the number of hidden nodes in the first layer
hidden_nodes_layer1_A1

16

In [34]:
# Create the Sequential model instance
nn_A1 = Sequential()

In [35]:
# First hidden layer
nn_A1.add(Dense(units=hidden_nodes_layer1_A1, input_dim = number_input_features, activation='sigmoid'))


# Output layer
nn_A1.add(Dense(units=1, activation='sigmoid'))


# Check the structure of the model
nn_A1.summary()

Model: "sequential_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_3 (Dense)             (None, 16)                1872

 dense_4 (Dense)             (None, 1)                 17

=================================================================
Total params: 1,889
Trainable params: 1,889
Non-trainable params: 0
_________________________________________________________________

In [36]:
# Compile the Sequential model
nn_A1.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [37]:
# Fit the model using 50 epochs and the training data
fit_model_A1 = nn_A1.fit(X_train_scaled, y_train, epochs=50)

Epoch 1/50
858/858 [==============================] - 2s 2ms/step - loss: 0.6051 - accuracy: 0.6955
Epoch 2/50
858/858 [==============================] - 2s 2ms/step - loss: 0.5710 - accuracy: 0.7242
Epoch 3/50
858/858 [==============================] - 2s 2ms/step - loss: 0.5671 - accuracy: 0.7262
Epoch 4/50
858/858 [==============================] - 2s 2ms/step - loss: 0.5639 - accuracy: 0.7270
Epoch 5/50
858/858 [==============================] - 2s 2ms/step - loss: 0.5608 - accuracy: 0.7278
Epoch 6/50
858/858 [==============================] - 2s 2ms/step - loss: 0.5580 - accuracy: 0.7300
Epoch 7/50
858/858 [==============================] - 2s 2ms/step - loss: 0.5559 - accuracy: 0.7311
Epoch 8/50
858/858 [==============================] - 2s 2ms/step - loss: 0.5538 - accuracy: 0.7313
Epoch 9/50
858/858 [==============================] - 2s 2ms/step - loss: 0.5526 - accuracy: 0.7320
Epoch 10/50
858/858 [==============================] - 2s 3ms/step - loss: 0.5512 - accuracy: 0.7317
Epoch 11/50
858/858 [==============================] - 2s 2ms/step - loss: 0.5498 - accuracy: 0.7322
Epoch 12/50
858/858 [==============================] - 2s 2ms/step - loss: 0.5489 - accuracy: 0.7326
Epoch 13/50
858/858 [==============================] - 2s 2ms/step - loss: 0.5479 - accuracy: 0.7333
Epoch 14/50
858/858 [==============================] - 2s 2ms/step - loss: 0.5471 - accuracy: 0.7337
Epoch 15/50
858/858 [==============================] - 2s 2ms/step - loss: 0.5463 - accuracy: 0.7328
Epoch 16/50
858/858 [==============================] - 2s 2ms/step - loss: 0.5456 - accuracy: 0.7336
Epoch 17/50
858/858 [==============================] - 2s 2ms/step - loss: 0.5451 - accuracy: 0.7337
Epoch 18/50
858/858 [==============================] - 2s 3ms/step - loss: 0.5447 - accuracy: 0.7340
Epoch 19/50
858/858 [==============================] - 2s 2ms/step - loss: 0.5439 - accuracy: 0.7342
Epoch 20/50
858/858 [==============================] - 2s 2ms/step - loss: 0.5436 - accuracy: 0.7334
Epoch 21/50
858/858 [==============================] - 2s 2ms/step - loss: 0.5430 - accuracy: 0.7344
Epoch 22/50
858/858 [==============================] - 2s 2ms/step - loss: 0.5428 - accuracy: 0.7342
Epoch 23/50
858/858 [==============================] - 1s 2ms/step - loss: 0.5421 - accuracy: 0.7353
Epoch 24/50
858/858 [==============================] - 2s 2ms/step - loss: 0.5420 - accuracy: 0.7348
Epoch 25/50
858/858 [==============================] - 2s 2ms/step - loss: 0.5416 - accuracy: 0.7354
Epoch 26/50
858/858 [==============================] - 2s 3ms/step - loss: 0.5412 - accuracy: 0.7354
Epoch 27/50
858/858 [==============================] - 2s 2ms/step - loss: 0.5408 - accuracy: 0.7358
Epoch 28/50
858/858 [==============================] - 2s 2ms/step - loss: 0.5408 - accuracy: 0.7355
Epoch 29/50
858/858 [==============================] - 2s 2ms/step - loss: 0.5404 - accuracy: 0.7365
Epoch 30/50
858/858 [==============================] - 2s 2ms/step - loss: 0.5403 - accuracy: 0.7362
Epoch 31/50
858/858 [==============================] - 2s 2ms/step - loss: 0.5398 - accuracy: 0.7354
Epoch 32/50
858/858 [==============================] - 2s 2ms/step - loss: 0.5395 - accuracy: 0.7357
Epoch 33/50
858/858 [==============================] - 2s 2ms/step - loss: 0.5393 - accuracy: 0.7352
Epoch 34/50
858/858 [==============================] - 3s 3ms/step - loss: 0.5389 - accuracy: 0.7365
Epoch 35/50
858/858 [==============================] - 2s 2ms/step - loss: 0.5388 - accuracy: 0.7361
Epoch 36/50
858/858 [==============================] - 2s 2ms/step - loss: 0.5387 - accuracy: 0.7368
Epoch 37/50
858/858 [==============================] - 2s 2ms/step - loss: 0.5385 - accuracy: 0.7364
Epoch 38/50
858/858 [==============================] - 2s 2ms/step - loss: 0.5383 - accuracy: 0.7371
Epoch 39/50
858/858 [==============================] - 2s 2ms/step - loss: 0.5381 - accuracy: 0.7368
Epoch 40/50
858/858 [==============================] - 2s 2ms/step - loss: 0.5379 - accuracy: 0.7364
Epoch 41/50
858/858 [==============================] - 2s 3ms/step - loss: 0.5378 - accuracy: 0.7361
Epoch 42/50
858/858 [==============================] - 2s 2ms/step - loss: 0.5375 - accuracy: 0.7361
Epoch 43/50
858/858 [==============================] - 2s 2ms/step - loss: 0.5376 - accuracy: 0.7361
Epoch 44/50
858/858 [==============================] - 2s 2ms/step - loss: 0.5374 - accuracy: 0.7375
Epoch 45/50
858/858 [==============================] - 2s 2ms/step - loss: 0.5371 - accuracy: 0.7369
Epoch 46/50
858/858 [==============================] - 2s 2ms/step - loss: 0.5370 - accuracy: 0.7383
Epoch 47/50
858/858 [==============================] - 2s 2ms/step - loss: 0.5369 - accuracy: 0.7377
Epoch 48/50
858/858 [==============================] - 2s 2ms/step - loss: 0.5367 - accuracy: 0.7380
Epoch 49/50
858/858 [==============================] - 2s 2ms/step - loss: 0.5367 - accuracy: 0.7379
Epoch 50/50
858/858 [==============================] - 1s 2ms/step - loss: 0.5364 - accuracy: 0.7379

#### Alternative Model 2

In [38]:
# Define the the number of inputs (features) to the model
number_input_features = len(X_train.iloc[0])

# Review the number of features
number_input_features

116

In [39]:
# Define the number of neurons in the output layer
number_output_neurons_A2 = 1

In [40]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer1_A2 = 16

# Review the number of hidden nodes in the first layer
hidden_nodes_layer1_A2

16

In [41]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer2_A2 = 4

# Review the number of hidden nodes in the first layer
hidden_nodes_layer2_A2

4

In [42]:
# Create the Sequential model instance
nn_A2 = Sequential()

In [43]:
# First hidden layer
nn_A2.add(Dense(units = hidden_nodes_layer1_A2, input_dim = number_input_features, activation='relu'))
nn_A2.add(Dense(units = hidden_nodes_layer2_A2, activation='relu'))

# Output layer
nn_A2.add(Dense(units = 1, activation='sigmoid'))

# Check the structure of the model
nn_A2.summary()

Model: "sequential_2"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_5 (Dense)             (None, 16)                1872

 dense_6 (Dense)             (None, 4)                 68

 dense_7 (Dense)             (None, 1)                 5

=================================================================
Total params: 1,945
Trainable params: 1,945
Non-trainable params: 0
_________________________________________________________________

In [44]:
# Compile the model
nn_A2.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [45]:
# Fit the model
nn_A2.fit(X_train_scaled, y_train, epochs=50)

Epoch 1/50
858/858 [==============================] - 3s 2ms/step - loss: 0.5415 - accuracy: 0.7351
Epoch 2/50
858/858 [==============================] - 2s 2ms/step - loss: 0.5414 - accuracy: 0.7350
Epoch 3/50
858/858 [==============================] - 2s 2ms/step - loss: 0.5411 - accuracy: 0.7355
Epoch 4/50
858/858 [==============================] - 2s 2ms/step - loss: 0.5411 - accuracy: 0.7349
Epoch 5/50
858/858 [==============================] - 2s 2ms/step - loss: 0.5408 - accuracy: 0.7348
Epoch 6/50
858/858 [==============================] - 2s 2ms/step - loss: 0.5412 - accuracy: 0.7346
Epoch 7/50
858/858 [==============================] - 2s 2ms/step - loss: 0.5409 - accuracy: 0.7353
Epoch 8/50
858/858 [==============================] - 2s 2ms/step - loss: 0.5409 - accuracy: 0.7349
Epoch 9/50
858/858 [==============================] - 2s 2ms/step - loss: 0.5407 - accuracy: 0.7354
Epoch 10/50
858/858 [==============================] - 2s 2ms/step - loss: 0.5410 - accuracy: 0.7348
Epoch 11/50
858/858 [==============================] - 2s 2ms/step - loss: 0.5407 - accuracy: 0.7354
Epoch 12/50
858/858 [==============================] - 2s 2ms/step - loss: 0.5408 - accuracy: 0.7354
Epoch 13/50
858/858 [==============================] - 2s 3ms/step - loss: 0.5406 - accuracy: 0.7356
Epoch 14/50
858/858 [==============================] - 2s 2ms/step - loss: 0.5405 - accuracy: 0.7346
Epoch 15/50
858/858 [==============================] - 2s 2ms/step - loss: 0.5407 - accuracy: 0.7353
Epoch 16/50
858/858 [==============================] - 2s 2ms/step - loss: 0.5406 - accuracy: 0.7349
Epoch 17/50
858/858 [==============================] - 2s 2ms/step - loss: 0.5405 - accuracy: 0.7356
Epoch 18/50
858/858 [==============================] - 2s 2ms/step - loss: 0.5408 - accuracy: 0.7353
Epoch 19/50
858/858 [==============================] - 2s 2ms/step - loss: 0.5406 - accuracy: 0.7348
Epoch 20/50
858/858 [==============================] - 2s 2ms/step - loss: 0.5406 - accuracy: 0.7340
Epoch 21/50
858/858 [==============================] - 2s 3ms/step - loss: 0.5405 - accuracy: 0.7352
Epoch 22/50
858/858 [==============================] - 2s 2ms/step - loss: 0.5401 - accuracy: 0.7360
Epoch 23/50
858/858 [==============================] - 2s 2ms/step - loss: 0.5405 - accuracy: 0.7345
Epoch 24/50
858/858 [==============================] - 2s 2ms/step - loss: 0.5402 - accuracy: 0.7356
Epoch 25/50
858/858 [==============================] - 2s 2ms/step - loss: 0.5404 - accuracy: 0.7351
Epoch 26/50
858/858 [==============================] - 2s 2ms/step - loss: 0.5402 - accuracy: 0.7347
Epoch 27/50
858/858 [==============================] - 2s 2ms/step - loss: 0.5405 - accuracy: 0.7357
Epoch 28/50
858/858 [==============================] - 2s 2ms/step - loss: 0.5403 - accuracy: 0.7357
Epoch 29/50
858/858 [==============================] - 2s 2ms/step - loss: 0.5403 - accuracy: 0.7364
Epoch 30/50
858/858 [==============================] - 2s 2ms/step - loss: 0.5402 - accuracy: 0.7354
Epoch 31/50
858/858 [==============================] - 2s 2ms/step - loss: 0.5402 - accuracy: 0.7353
Epoch 32/50
858/858 [==============================] - 2s 2ms/step - loss: 0.5401 - accuracy: 0.7349
Epoch 33/50
858/858 [==============================] - 2s 2ms/step - loss: 0.5399 - accuracy: 0.7359
Epoch 34/50
858/858 [==============================] - 2s 2ms/step - loss: 0.5400 - accuracy: 0.7348
Epoch 35/50
858/858 [==============================] - 2s 2ms/step - loss: 0.5401 - accuracy: 0.7361
Epoch 36/50
858/858 [==============================] - 2s 3ms/step - loss: 0.5402 - accuracy: 0.7353
Epoch 37/50
858/858 [==============================] - 2s 3ms/step - loss: 0.5399 - accuracy: 0.7358
Epoch 38/50
858/858 [==============================] - 2s 3ms/step - loss: 0.5401 - accuracy: 0.7356
Epoch 39/50
858/858 [==============================] - 2s 2ms/step - loss: 0.5399 - accuracy: 0.7358
Epoch 40/50
858/858 [==============================] - 2s 2ms/step - loss: 0.5398 - accuracy: 0.7353
Epoch 41/50
858/858 [==============================] - 2s 2ms/step - loss: 0.5400 - accuracy: 0.7354
Epoch 42/50
858/858 [==============================] - 2s 2ms/step - loss: 0.5401 - accuracy: 0.7350
Epoch 43/50
858/858 [==============================] - 3s 3ms/step - loss: 0.5401 - accuracy: 0.7351
Epoch 44/50
858/858 [==============================] - 2s 2ms/step - loss: 0.5398 - accuracy: 0.7354
Epoch 45/50
858/858 [==============================] - 2s 2ms/step - loss: 0.5401 - accuracy: 0.7356
Epoch 46/50
858/858 [==============================] - 2s 2ms/step - loss: 0.5398 - accuracy: 0.7360
Epoch 47/50
858/858 [==============================] - 2s 2ms/step - loss: 0.5397 - accuracy: 0.7358
Epoch 48/50
858/858 [==============================] - 2s 2ms/step - loss: 0.5399 - accuracy: 0.7354
Epoch 49/50
858/858 [==============================] - 2s 2ms/step - loss: 0.5397 - accuracy: 0.7356
Epoch 50/50
858/858 [==============================] - 2s 2ms/step - loss: 0.5398 - accuracy: 0.7360

### Step 2: After finishing your models, display the accuracy scores achieved by each model, and compare the results.

In [46]:
print("Original Model Results")

# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled, y_test, verbose=2)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Original Model Results
215/215 - 1s - loss: 0.5554 - accuracy: 0.7299 - 577ms/epoch - 3ms/step
Loss: 0.5554176568984985, Accuracy: 0.7298833727836609

In [47]:
print("Alternative Model 1 Results")

# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy =nn_A1.evaluate(X_test_scaled, y_test, verbose=2)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Alternative Model 1 Results
215/215 - 1s - loss: 0.5537 - accuracy: 0.7277 - 547ms/epoch - 3ms/step
Loss: 0.5537431836128235, Accuracy: 0.7276967763900757

In [48]:
print("Alternative Model 2 Results")

# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn_A2.evaluate(X_test_scaled, y_test, verbose=2)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Alternative Model 2 Results

RuntimeError: ignored

### Step 3: Save each of your alternative models as an HDF5 file.

In [ ]:
file_path = Path("content/AlphabetSoup_A1.h5")

# Export your model to a HDF5 file
nn_A1.save(file_path)

In [ ]:
file_path = Path("content/AlphabetSoup_A2.h5")

# Export your model to a HDF5 file
nn_A2.save(file_path)